body{
background-color: black;
text-align: center;

}

table{
    margin: auto;
}

.container{

}

td{
    border: 3px solid purple;
    height: 20vh;
    width: 20vw;
    color: white;
    font-weight: bold;
    font-size: 50px;
}



h1 {
    color: purple;
    font-size: 50px;
}

h2 {
    color: purple;
}

