body{
background-color: black;
text-align: center;

}

table{
    margin: auto;
}

.container{

}

td{
    border: 3px solid green;
    height: 20vh;
    width: 20vw;
    color:green;
    font-weight: bold;
    font-size: 
}



h1 {
    color: green;
}

